<!DOCTYPE html>
<html>

<head>
<title>Admin Panel</title>
<link rel="stylesheet" href="/static/style.css">
</head>

<body>

<header>Admin Panel</header>

<div class="card">

<form method="POST">

Bus Number<br>
<input type="text" name="bus_no"><br><br>

Route<br>
<input type="text" name="route"><br><br>

Arrival Time<br>
<input type="text" name="arrival"><br><br>

Seats<br>
<input type="number" name="seats"><br><br>

Crowd<br>
<input type="text" name="crowd"><br><br>

<button type="submit">Add Bus</button>

</form>

</div>

</body>
</html>
